{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo architecto inventore accusamus sed atque recusandae. Debitis voluptatem labore ut iusto ad corporis, natus, unde dicta quo itaque eos quisquam!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/cambiosNuevosQR.PNG" class="img-thumbnail">
    </div>
</div>

{{> footer}}